* {
    font-family: Georgia, 'Times New Roman', Times, serif
}



h1 {
    text-align: center;
    display: block;
    background: #267346;
    padding: 30px;
    outline-style: groove;
    outline-color: #194d30;
    text-shadow: 2px 2px yellowgreen;
    font-weight: bold;
}

h2 {
    background-color: palegreen;
    margin: 20px;
    padding: 20px 35px;
}

h3 {
  background-color: #b5fcb5;
  margin: 8px 30px;
  padding: 10px 20px;
}

body {
    background-color: darkseagreen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: mediumseagreen;
    
}

/*li:hover {
    background: #2e8b57;
} */

li {
    float: left;
    border-right: 1px solid #267326;
}

li a {
  display: block;
  padding: 20px 30px;
  background: mediumseagreen;
  text-decoration: none;
  text-shadow: 1px 1px #103220;
}

.active {
  background-color: #194d30;
}

li a:hover:not(.active) {
  background-color: #2e8b57;
}


.div1 {
  background: beige;
  text-align: left;
  margin: 20px 30px;
  padding: 10px 20px;
}
  
.div2 {
    background: beige;
    text-align: left;
    margin: 20px 30px;
    padding: 10px 20px;
}
  
.div3 {
    background: beige;
    text-align: left;
    margin: 20px 30px;
    padding: 10px 20px;
}

.div4 {
    background: beige;
    text-align: left;
    margin: 20px 30px;
    padding: 10px 20px;
}

.div5 {
  background: beige;
  text-align: left;
  margin: 10px 30px;
  padding: 10px 20px;
}
  

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: #07914a;
}

  
a:hover {
  background-color: transparent;
  text-decoration: underline;
} 
  
a:active {
  background-color: transparent;
  text-decoration: underline;
}

  .link1 {
    
  }

  .link2 {
    text-shadow: none;
    color: black;
  }

.contact {
  font-weight: bold;
  background-color: #91eb91;
  padding: 10px;
}