* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p, pre {
    background-color: beige;
}

h1 {
    text-align: center;
    display: block;
    background: #267326;
}

h2, h3 {
    background-color: palegreen;
}

body {
    background-color: darkseagreen;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: mediumseagreen;
    
}

/*li:hover {
    background: #2e8b57;
} */

li {
    float: left;
    border-right: 1px solid #267326;
}

li a {
  display: block;
  padding: 20px 30px;
  background: mediumseagreen;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2e8b57;
}

.active {
  background-color: #194d30;
}

/*
.div1 {
    background: mediumseagreen;
  }
  
  .div2 {
    background: seagreen;
  }
  
  .div3 {
    background: green;
  }

  .div4 {
    background: forestgreen;
  }
  */

  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
  }
  
  a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  /* a:hover {
    color: #d9f2e4;
    background-color: transparent;
    text-decoration: underline;
  } */
  
  a:active {
    color: mediumaquamarine;
    background-color: transparent;
    text-decoration: underline;
  }